[Unit]
Description=Lightshow Service

[Service]
Type=simple
WorkingDirectory={{lightshow_lib_dir}}
ExecStartPre=/bin/sh /usr/local/bin/reset-gpio.sh
ExecStart={{lightshow_bin_dir}}/lightshow
StandardOutput=syslog
StandardError=syslog
Restart=on-failure
Environment=RUST_LOG=lightshow=debug

[Install]
WantedBy=multi-user.target
